[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    pager = less -FR
    excludesfiles = ~/.gitignore

[github]
    user = Cairnarvon

[rerere]
    enabled = true

[user]
    name = Cairnarvon
    email = cairnarvon@gmail.com

[alias]
    amend = commit --amend -C HEAD
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
